
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.paper {
    padding : 20px;

}

.form-title {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 5px;
    color: #37474f;
    

}


.post-form .MuiTextField-root {
    margin-bottom: 10px; /* Adjust the value for desired spacing */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.file-input{
    width: 97%;
    margin: 10px 0;
}

.button-submit {
    margin-bottom : 10px;
    background-color: #78909c;
}

.button-clear {
    background-color: #b0bec5 ;
}

